In [ ]:
# GVATdb.csv download from https://renlab.sdsc.edu/GVATdb/
# Need to do mapping from TF name -> TF uniprot mapping, and liftover variants coordinates from hg19 -> hg38 before loading

In [2]:
import requests

In [3]:
import json

In [4]:
TF_mapping_all = dict()

# Query with TF name in proteins collection

In [58]:
# Download the proteins collection from catalog in local json file
# -> would be quicker than query from api endpoint, 
# but probably doesn't matter much here since there are only ~500 TFs to query

In [5]:
with open('igvf_proteins.json') as json_file:
    data = json.load(json_file)

In [6]:
def query_TF_id(TF_symbol, data_json):

    TF_ids = []
    responses = []
    for record in data_json:
        if record.get('name') is not None:
            if TF_symbol == record['name'].replace('_HUMAN',''):
                responses.append(record)
                for response in responses:
                    TF_ids.append(response['_key'])

    return TF_ids

In [7]:
with open('GVATdb_all_TF_list.txt') as TF_list:
    for line in TF_list:
        TF_name = line.strip()
        TF_ids = query_TF_id(TF_name,data)
        TF_mapping_all[TF_name] = TF_ids

## check no mapping cases

In [8]:
TF_no_mapping = []

In [9]:
for key, value in TF_mapping_all.items():
    if len(value) <1:
        TF_no_mapping.append(key)

In [10]:
TF_no_mapping

['ARNTL2',
 'ATF6',
 'BARHL1',
 'BARHL2',
 'BHLHA15',
 'BHLHB2',
 'BHLHB4',
 'BHLHB5',
 'BHLHB8',
 'BHLHE22',
 'BHLHE23',
 'BSX',
 'CART1',
 'CREB3L1',
 'CREB3L4',
 'DMRTA1',
 'DMRTC2',
 'EBF2',
 'EN1',
 'EN2',
 'ENSG00000206218',
 'ESRRA',
 'ESRRB',
 'ESRRG',
 'FERD3L',
 'FOXD4L5',
 'FOXO3A',
 'HMBOX1',
 'HOXA1',
 'HOXA10',
 'HOXA11',
 'HOXA13',
 'HOXA2',
 'HOXA4',
 'HOXA5',
 'HOXA6',
 'HOXA7',
 'HOXA9',
 'HOXB13',
 'HOXB4',
 'HOXB5',
 'HOXB7',
 'HOXB9',
 'HOXC10',
 'HOXC11',
 'HOXC4',
 'HOXC8',
 'HOXC9',
 'HOXD1',
 'HOXD10',
 'HOXD12',
 'HOXD13',
 'HOXD3',
 'HOXD4',
 'HOXD9',
 'HSFY2',
 'JUND2',
 'KIAA2018',
 'LIN28B',
 'LRRN6D',
 'MLLT7',
 'MSC',
 'MYBL1',
 'MYBL2',
 'NEUROD1',
 'NEUROD2',
 'NEUROG1',
 'NEUROG2',
 'NFATC1',
 'NFATC2',
 'NFATC3',
 'NFATC4',
 'NHLH1',
 'NHLH2',
 'NKX2-3',
 'NKX2-4',
 'NKX2-8',
 'NKX2_8',
 'NKX6-1',
 'NKX6-2',
 'NKX6_2',
 'NR2F1',
 'NR3C1',
 'NR3C2',
 'NR5A1',
 'ONECUT1',
 'ONECUT2',
 'ONECUT3',
 'PHOX2A',
 'PHOX2B',
 'PKNOX1',
 'PKNOX2',
 'POU1F1',
 'POU2F2',
 'POU2F3',
 'POU3F2',
 'POU3F4',
 'POU4F1',
 'POU4F2',
 'POU4F3',
 'POU5F1',
 'POU6F1',
 'RAX',
 'RBPJ',
 'RFXDC2',
 'RHOXF1',
 'RHOXF2',
 'SOHLH2',
 'SREBF1',
 'SREBF2',
 'T',
 'TCF12',
 'TCF4',
 'TCF7L2',
 'TFAP2A',
 'TFAP2B',
 'TFAP2C',
 'TFAP2E',
 'TFCP2L1',
 'TGIF2LX',
 'TGIF2LY',
 'TP73L',
 'YBX1',
 'YY1',
 'YY2',
 'ZBTB12',
 'ZBTB20',
 'ZBTB26',
 'ZBTB33',
 'ZBTB34',
 'ZBTB37',
 'ZBTB43',
 'ZBTB46',
 'ZBTB7A',
 'ZBTB7B',
 'ZNF138',
 'ZNF140',
 'ZNF143',
 'ZNF174',
 'ZNF193',
 'ZNF238',
 'ZNF282',
 'ZNF323',
 'ZNF390',
 'ZNF396',
 'ZNF410',
 'ZNF435',
 'ZNF436',
 'ZNF444',
 'ZNF501',
 'ZNF524',
 'ZNF580',
 'ZNF581',
 'ZNF597',
 'ZNF660',
 'ZNF684',
 'ZNF690',
 'ZNF704',
 'ZNF713',
 'ZNF740',
 'ZNF75A',
 'ZNF771',
 'ZNF784',
 'ZNF787',
 'ZNF821',
 'ZSCAN1',
 'ZSCAN16',
 'ZSCAN4']

In [11]:
len(TF_no_mapping)

168

# For those TFs with no exact name matching with protein names, query by genes/proteins catalog endpoint

In [12]:
def query_TF_id_from_gene(gene_symbol):

    data_service_url = 'https://api-dev.catalog.igvf.org/api'
    endpoint = 'genes/proteins'
    query_string = 'gene_name=' + gene_symbol
    url = data_service_url + '/' + endpoint + '?' + query_string

    responses = requests.get(url).json()
    TF_ids = []
    for response in responses:
        TF_ids.append(response['_id'])

    return TF_ids

In [13]:
TF_remapping = dict()

In [14]:
for TF in TF_no_mapping:
    TF_ids = query_TF_id_from_gene(TF)
    TF_remapping[TF] = TF_ids

In [15]:
TF_remapping

{'ARNTL2': [],
 'ATF6': ['P18850'],
 'BARHL1': ['Q9BZE3'],
 'BARHL2': ['Q9NY43'],
 'BHLHA15': ['Q7RTS1'],
 'BHLHB2': [],
 'BHLHB4': [],
 'BHLHB5': [],
 'BHLHB8': [],
 'BHLHE22': ['Q8NFJ8'],
 'BHLHE23': ['Q8NDY6'],
 'BSX': ['Q3C1V8'],
 'CART1': [],
 'CREB3L1': ['Q96BA8'],
 'CREB3L4': ['Q8TEY5'],
 'DMRTA1': ['Q5VZB9'],
 'DMRTC2': ['Q8IXT2'],
 'EBF2': ['Q9HAK2'],
 'EN1': ['Q05925'],
 'EN2': ['P19622'],
 'ENSG00000206218': [],
 'ESRRA': ['P11474'],
 'ESRRB': ['O95718'],
 'ESRRG': ['P62508'],
 'FERD3L': ['Q96RJ6'],
 'FOXD4L5': ['Q5VV16'],
 'FOXO3A': [],
 'HMBOX1': ['Q6NT76'],
 'HOXA1': [],
 'HOXA10': ['P31260'],
 'HOXA11': ['P31270'],
 'HOXA13': ['P31271'],
 'HOXA2': ['O43364'],
 'HOXA4': ['Q00056'],
 'HOXA5': ['P20719'],
 'HOXA6': ['P31267'],
 'HOXA7': ['P31268'],
 'HOXA9': ['P31269'],
 'HOXB13': ['Q92826'],
 'HOXB4': ['P17483'],
 'HOXB5': ['P09067'],
 'HOXB7': ['P09629'],
 'HOXB9': ['P17482'],
 'HOXC10': ['Q9NYD6'],
 'HOXC11': ['O43248'],
 'HOXC4': ['P09017'],
 'HOXC8': ['P31273'],
 'HOXC9': ['P31274'],
 'HOXD1': ['Q9GZZ0'],
 'HOXD10': ['P28358'],
 'HOXD12': ['P35452'],
 'HOXD13': ['P35453'],
 'HOXD3': ['P31249'],
 'HOXD4': ['P09016'],
 'HOXD9': ['P28356'],
 'HSFY2': ['Q96LI6'],
 'JUND2': [],
 'KIAA2018': [],
 'LIN28B': ['Q6ZN17'],
 'LRRN6D': [],
 'MLLT7': [],
 'MSC': ['O60682'],
 'MYBL1': ['P10243'],
 'MYBL2': ['P10244'],
 'NEUROD1': ['Q13562'],
 'NEUROD2': ['Q15784'],
 'NEUROG1': ['Q92886'],
 'NEUROG2': ['Q9H2A3'],
 'NFATC1': ['O95644'],
 'NFATC2': ['Q13469'],
 'NFATC3': ['Q12968'],
 'NFATC4': ['Q14934'],
 'NHLH1': ['Q02575'],
 'NHLH2': ['Q02577'],
 'NKX2-3': ['Q8TAU0'],
 'NKX2-4': ['Q9H2Z4'],
 'NKX2-8': ['O15522'],
 'NKX2_8': [],
 'NKX6-1': ['P78426'],
 'NKX6-2': ['Q9C056'],
 'NKX6_2': [],
 'NR2F1': ['P10589'],
 'NR3C1': ['P04150'],
 'NR3C2': ['P08235'],
 'NR5A1': ['Q13285'],
 'ONECUT1': ['Q9UBC0'],
 'ONECUT2': ['O95948'],
 'ONECUT3': ['O60422'],
 'PHOX2A': ['O14813'],
 'PHOX2B': ['Q99453'],
 'PKNOX1': ['P55347'],
 'PKNOX2': ['Q96KN3'],
 'POU1F1': ['P28069'],
 'POU2F2': ['P09086'],
 'POU2F3': ['Q9UKI9'],
 'POU3F2': ['P20265'],
 'POU3F4': [],
 'POU4F1': ['Q01851'],
 'POU4F2': ['Q12837'],
 'POU4F3': ['Q15319'],
 'POU5F1': ['Q01860'],
 'POU6F1': [],
 'RAX': ['Q9Y2V3'],
 'RBPJ': ['Q06330'],
 'RFXDC2': [],
 'RHOXF1': ['Q8NHV9'],
 'RHOXF2': ['Q9BQY4'],
 'SOHLH2': ['Q9NX45'],
 'SREBF1': ['P36956'],
 'SREBF2': ['Q12772'],
 'T': [],
 'TCF12': ['Q99081'],
 'TCF4': ['P15884'],
 'TCF7L2': ['Q9NQB0'],
 'TFAP2A': ['P05549'],
 'TFAP2B': ['Q92481'],
 'TFAP2C': ['Q92754'],
 'TFAP2E': ['Q6VUC0'],
 'TFCP2L1': ['Q9NZI6'],
 'TGIF2LX': ['Q8IUE1'],
 'TGIF2LY': ['Q8IUE0'],
 'TP73L': [],
 'YBX1': ['P67809'],
 'YY1': ['P25490'],
 'YY2': ['O15391'],
 'ZBTB12': ['Q9Y330'],
 'ZBTB20': ['Q9HC78'],
 'ZBTB26': ['Q9HCK0'],
 'ZBTB33': ['Q86T24'],
 'ZBTB34': [],
 'ZBTB37': ['Q5TC79'],
 'ZBTB43': ['O43298'],
 'ZBTB46': ['Q86UZ6'],
 'ZBTB7A': ['O95365'],
 'ZBTB7B': ['O15156'],
 'ZNF138': ['P52744'],
 'ZNF140': ['P52738'],
 'ZNF143': ['P52747'],
 'ZNF174': ['Q15697'],
 'ZNF193': [],
 'ZNF238': [],
 'ZNF282': ['Q9UDV7'],
 'ZNF323': [],
 'ZNF390': [],
 'ZNF396': ['Q96N95'],
 'ZNF410': ['Q86VK4'],
 'ZNF435': [],
 'ZNF436': ['Q9C0F3'],
 'ZNF444': ['Q8N0Y2'],
 'ZNF501': ['Q96CX3'],
 'ZNF524': ['Q96C55'],
 'ZNF580': ['Q9UK33'],
 'ZNF581': ['Q9P0T4'],
 'ZNF597': ['Q96LX8'],
 'ZNF660': ['Q6AZW8'],
 'ZNF684': ['Q5T5D7'],
 'ZNF690': [],
 'ZNF704': ['Q6ZNC4'],
 'ZNF713': ['Q8N859'],
 'ZNF740': ['Q8NDX6'],
 'ZNF75A': ['Q96N20'],
 'ZNF771': ['Q7L3S4'],
 'ZNF784': ['Q8NCA9'],
 'ZNF787': ['Q6DD87'],
 'ZNF821': ['O75541'],
 'ZSCAN1': ['Q8NBB4'],
 'ZSCAN16': ['Q9H4T2'],
 'ZSCAN4': ['Q8NAM6']}

In [16]:
TF_no_mapping_2 = []

In [17]:
for key, value in TF_remapping.items():
    if len(value) < 1:
        TF_no_mapping_2.append(key)
    else:
        TF_mapping_all[key] = value

In [18]:
len(TF_no_mapping_2)

27

# Still have 27 no mappings cases above -> query by alias under genes/proteins

In [19]:
def query_TF_id_from_gene_alias(gene_symbol):

    data_service_url = 'https://api-dev.catalog.igvf.org/api'
    endpoint = 'genes/proteins/'
    query_string = 'alias=' + gene_symbol
    url = data_service_url + '/' + endpoint + '?' + query_string

    responses = requests.get(url).json()
    TF_ids = []
    for response in responses:
        TF_ids.append(response['_id'])

    return TF_ids

In [20]:
TF_remapping_2 = dict()

In [21]:
for TF in TF_no_mapping_2:
    TF_ids = query_TF_id_from_gene_alias(TF)
    TF_remapping_2[TF] = TF_ids

In [22]:
TF_no_mapping_3 = []

In [23]:
for key, value in TF_remapping_2.items():
    if len(value) <1:
        TF_no_mapping_3.append(key)
    else:
        TF_mapping_all[key] = value

In [24]:
TF_no_mapping_3

['ENSG00000206218',
 'HOXA1',
 'JUND2',
 'NKX2_8',
 'NKX6_2',
 'POU3F4',
 'POU6F1',
 'ZBTB34']

# Just remaining 8 TFs missing mapping -> assign manually

In [ ]:
# skip ENSG00000206218

In [26]:
TF_mapping_all['HOXA1'] = ['P49639']
TF_mapping_all['JUND2'] = ['P17535']
TF_mapping_all['NKX2_8'] = ['O15522']
TF_mapping_all['NKX6_2'] = ['Q9C056']
TF_mapping_all['POU3F4'] = ['P49335']
TF_mapping_all['POU6F1'] = ['Q14863']
TF_mapping_all['ZBTB34'] = ['Q8NCN2']

In [27]:
for k,v in TF_mapping_all.items():
    if len(v) > 1:
        print (k,v)

CART1 ['O75154', 'Q9BUZ4', 'Q15699']

In [28]:
# manually solve multiple mapping cases

In [29]:
TF_mapping_all['CART1'] = 'Q9BUZ4'

In [30]:
TF_mapping_all

{'ALX1': ['Q15699'],
 'ALX3': ['O95076'],
 'ARGFX': ['A6NJG6'],
 'ARNT2': ['Q9HBZ2'],
 'ARNTL2': ['Q8WYA1'],
 'ARX': ['Q96QS3'],
 'ASCL1': ['P50553'],
 'ASCL2': ['Q99929'],
 'ATF2': ['P15336'],
 'ATF3': ['P18847'],
 'ATF4': ['P18848'],
 'ATF6': ['P18850'],
 'ATF6B': ['Q99941'],
 'ATOH1': ['Q92858'],
 'ATOH7': ['Q8N100'],
 'BACH2': ['Q9BYV9'],
 'BARHL1': ['Q9BZE3'],
 'BARHL2': ['Q9NY43'],
 'BARX2': ['Q9UMQ3'],
 'BATF': ['Q16520'],
 'BATF3': ['Q9NR55'],
 'BBX': ['Q8WY36'],
 'BCL6': ['P41182'],
 'BCL6B': ['Q8N143'],
 'BHLHA15': ['Q7RTS1'],
 'BHLHB2': ['O14503'],
 'BHLHB4': ['Q8NDY6'],
 'BHLHB5': ['Q8NFJ8'],
 'BHLHB8': ['Q7RTS1'],
 'BHLHE22': ['Q8NFJ8'],
 'BHLHE23': ['Q8NDY6'],
 'BSX': ['Q3C1V8'],
 'CART1': 'Q9BUZ4',
 'CDX1': ['P47902'],
 'CDX4': ['O14627'],
 'CEBPB': ['P17676'],
 'CEBPE': ['Q15744'],
 'CEBPG': ['P53567'],
 'CLOCK': ['O15516'],
 'CPSF4': ['O95639'],
 'CREB1': ['P16220'],
 'CREB3': ['O43889'],
 'CREB3L1': ['Q96BA8'],
 'CREB3L4': ['Q8TEY5'],
 'CREB5': ['Q02930'],
 'CREM': ['Q03060'],
 'CRX': ['O43186'],
 'CTCF': ['P49711'],
 'CUX1': ['P39880'],
 'CUX2': ['O14529'],
 'DBP': ['Q10586'],
 'DBX2': ['Q6ZNG2'],
 'DEAF1': ['O75398'],
 'DLX1': ['P56177'],
 'DLX2': ['Q07687'],
 'DLX3': ['O60479'],
 'DLX4': ['Q92988'],
 'DLX5': ['P56178'],
 'DLX6': ['P56179'],
 'DMBX1': ['Q8NFW5'],
 'DMRT3': ['Q9NQL9'],
 'DMRTA1': ['Q5VZB9'],
 'DMRTC2': ['Q8IXT2'],
 'DRGX': ['A6NNA5'],
 'DUXA': ['A6NLW8'],
 'E2F4': ['Q16254'],
 'E2F7': ['Q96AV8'],
 'EBF2': ['Q9HAK2'],
 'EGR1': ['P18146'],
 'EGR2': ['P11161'],
 'EGR3': ['Q06889'],
 'EGR4': ['Q05215'],
 'ELF1': ['P32519'],
 'ELF2': ['Q15723'],
 'ELF3': ['P78545'],
 'ELF4': ['Q99607'],
 'ELF5': ['Q9UKW6'],
 'ELK1': ['P19419'],
 'ELK3': ['P41970'],
 'ELK4': ['P28324'],
 'EMX1': ['Q04741'],
 'EN1': ['Q05925'],
 'EN2': ['P19622'],
 'ENSG00000206218': [],
 'EOMES': ['O95936'],
 'ERG': ['P11308'],
 'ESRRA': ['P11474'],
 'ESRRB': ['O95718'],
 'ESRRG': ['P62508'],
 'ESX1': ['Q8N693'],
 'ETS1': ['P14921'],
 'ETS2': ['P15036'],
 'ETV1': ['P50549'],
 'ETV2': ['O00321'],
 'ETV4': ['P43268'],
 'ETV5': ['P41161'],
 'ETV7': ['Q9Y603'],
 'EVX1': ['P49640'],
 'EVX2': ['Q03828'],
 'FERD3L': ['Q96RJ6'],
 'FEV': ['Q99581'],
 'FIGLA': ['Q6QHK4'],
 'FLI1': ['Q01543'],
 'FOS': ['P01100'],
 'FOSB': ['P53539'],
 'FOSL1': ['P15407'],
 'FOXA1': ['P55317'],
 'FOXA2': ['Q9Y261'],
 'FOXA3': ['P55318'],
 'FOXB1': ['Q99853'],
 'FOXC2': ['Q99958'],
 'FOXD2': ['O60548'],
 'FOXD3': ['Q9UJU5'],
 'FOXD4L5': ['Q5VV16'],
 'FOXE1': ['O00358'],
 'FOXI1': ['Q12951'],
 'FOXI2': ['Q6ZQN5'],
 'FOXJ2': ['Q9P0K8'],
 'FOXK1': ['P85037'],
 'FOXK2': ['Q01167'],
 'FOXL2': ['P58012'],
 'FOXM1': ['Q08050'],
 'FOXO1': ['Q12778'],
 'FOXO3A': ['O43524'],
 'FOXO6': ['A8MYZ6'],
 'FOXP2': ['O15409'],
 'FOXP3': ['Q9BZS1'],
 'FOXQ1': ['Q9C009'],
 'FOXR2': ['Q6PJQ5'],
 'GATA2': ['P23769'],
 'GATA3': ['P23771'],
 'GATA4': ['P43694'],
 'GATA5': ['Q9BWX5'],
 'GATA6': ['Q92908'],
 'GBX2': ['P52951'],
 'GCM1': ['Q9NP62'],
 'GCM2': ['O75603'],
 'GFI1': ['Q99684'],
 'GFI1B': ['Q5VTD9'],
 'GLI2': ['P10070'],
 'GLI3': ['P10071'],
 'GLIS1': ['Q8NBF1'],
 'GLIS3': ['Q8NEA6'],
 'GMEB1': ['Q9Y692'],
 'GRHL1': ['Q9NZI5'],
 'GSC': ['P56915'],
 'GSC2': ['O15499'],
 'GSX1': ['Q9H4S2'],
 'GSX2': ['Q9BZM3'],
 'HES2': ['Q9Y543'],
 'HES5': ['Q5TA89'],
 'HES6': ['Q96HZ4'],
 'HESX1': ['Q9UBX0'],
 'HEY1': ['Q9Y5J3'],
 'HEY2': ['Q9UBP5'],
 'HIC1': ['Q14526'],
 'HLF': ['Q16534'],
 'HMBOX1': ['Q6NT76'],
 'HMX1': ['Q9NP08'],
 'HMX2': ['A2RU54'],
 'HMX3': ['A6NHT5'],
 'HNF1A': ['P20823'],
 'HNF1B': ['P35680'],
 'HOXA1': ['P49639'],
 'HOXA10': ['P31260'],
 'HOXA11': ['P31270'],
 'HOXA13': ['P31271'],
 'HOXA2': ['O43364'],
 'HOXA4': ['Q00056'],
 'HOXA5': ['P20719'],
 'HOXA6': ['P31267'],
 'HOXA7': ['P31268'],
 'HOXA9': ['P31269'],
 'HOXB13': ['Q92826'],
 'HOXB4': ['P17483'],
 'HOXB5': ['P09067'],
 'HOXB7': ['P09629'],
 'HOXB9': ['P17482'],
 'HOXC10': ['Q9NYD6'],
 'HOXC11': ['O43248'],
 'HOXC4': ['P09017'],
 'HOXC8': ['P31273'],
 'HOXC9': ['P31274'],
 'HOXD1': ['Q9GZZ0'],
 'HOXD10': ['P28358'],
 'HOXD12': ['P35452'],
 'HOXD13': ['P35453'],
 'HOXD3': ['P31249'],
 'HOXD4': ['P09016'],
 'HOXD9': ['P28356'],
 'HSF1': ['Q00613'],
 'HSF2': ['Q03933'],
 'HSF4': ['Q9ULV5'],
 'HSF5': ['Q4G112'],
 'HSFY1': ['Q96LI6'],
 'HSFY2': ['Q96LI6'],
 'HXB13': ['Q92826'],
 'INSM1': ['Q01101'],
 'IRF2': ['P14316'],
 'IRF3': ['Q14653'],
 'IRF4': ['Q15306'],
 'IRF5': ['Q13568'],
 'IRF6': ['O14896'],
 'IRF7': ['Q92985'],
 'IRF8': ['Q02556'],
 'IRF9': ['Q00978'],
 'IRX5': ['P78411'],
 'ISL1': ['P61371'],
 'ISX': ['Q2M1V0'],
 'JDP2': ['Q8WYK2'],
 'JUN': ['P05412'],
 'JUNB': ['P17275'],
 'JUND': ['P17535'],
 'JUND2': ['P17535'],
 'KIAA2018': ['Q68DE3'],
 'KLF10': ['Q13118'],
 'KLF11': ['O14901'],
 'KLF12': ['Q9Y4X4'],
 'KLF13': ['Q9Y2Y9'],
 'KLF14': ['Q8TD94'],
 'KLF15': ['Q9UIH9'],
 'KLF16': ['Q9BXK1'],
 'KLF2': ['Q9Y5W3'],
 'KLF3': ['P57682'],
 'KLF4': ['O43474'],
 'LBX2': ['Q6XYB7'],
 'LEF1': ['Q9UJU2'],
 'LHX1': ['P48742'],
 'LHX4': ['Q969G2'],
 'LHX5': ['Q9H2C1'],
 'LHX6': ['Q9UPM6'],
 'LHX8': ['Q68G74'],
 'LHX9': ['Q9NQ69'],
 'LIN28B': ['Q6ZN17'],
 'LMX1A': ['Q8TE12'],
 'LMX1B': ['O60663'],
 'LRRN6D': ['Q6UY18'],
 'MAF': ['O75444'],
 'MAFA': ['Q8NHW3'],
 'MAFB': ['Q9Y5Q3'],
 'MAFF': ['Q9ULX9'],
 'MAFG': ['O15525'],
 'MAX': ['P61244'],
 'MBNL2': ['Q5VZF2'],
 'MEF2B': ['Q02080'],
 'MEF2C': ['Q06413'],
 'MEIS2': ['O14770'],
 'MEIS3': ['Q99687'],
 'MEOX1': ['P50221'],
 'MEOX2': ['P50222'],
 'MGA': ['O43451'],
 'MIXL1': ['Q9H2W2'],
 'MLLT7': ['P98177'],
 'MLX': ['Q9UH92'],
 'MNX1': ['P50219'],
 'MSC': ['O60682'],
 'MSX1': ['P28360'],
 'MSX2': ['P35548'],
 'MTF1': ['Q14872'],
 'MYBL1': ['P10243'],
 'MYBL2': ['P10244'],
 'MYCN': ['P04198'],
 'MYF6': ['P23409'],
 'MYOD1': ['P15172'],
 'MYOG': ['P15173'],
 'NANOG': ['Q9H9S0'],
 'NEUROD1': ['Q13562'],
 'NEUROD2': ['Q15784'],
 'NEUROG1': ['Q92886'],
 'NEUROG2': ['Q9H2A3'],
 'NFAT5': ['O94916'],
 'NFATC1': ['O95644'],
 'NFATC2': ['Q13469'],
 'NFATC3': ['Q12968'],
 'NFATC4': ['Q14934'],
 'NFE2': ['Q16621'],
 'NFIB': ['O00712'],
 'NFIC': ['P08651'],
 'NFIX': ['Q14938'],
 'NFKB2': ['Q00653'],
 'NHLH1': ['Q02575'],
 'NHLH2': ['Q02577'],
 'NKX2-3': ['Q8TAU0'],
 'NKX2-4': ['Q9H2Z4'],
 'NKX2-8': ['O15522'],
 'NKX2_8': ['O15522'],
 'NKX6-1': ['P78426'],
 'NKX6-2': ['Q9C056'],
 'NKX6_2': ['Q9C056'],
 'NPAS2': ['Q99743'],
 'NR1D1': ['P20393'],
 'NR1D2': ['Q14995'],
 'NR1I2': ['O75469'],
 'NR1I3': ['Q14994'],
 'NR2C1': ['P13056'],
 'NR2E1': ['Q9Y466'],
 'NR2F1': ['P10589'],
 'NR2F6': ['P10588'],
 'NR3C1': ['P04150'],
 'NR3C2': ['P08235'],
 'NR4A1': ['P22736'],
 'NR4A2': ['P43354'],
 'NR4A3': ['Q92570'],
 'NR5A1': ['Q13285'],
 'NR5A2': ['O00482'],
 'NR6A1': ['Q15406'],
 'NRL': ['P54845'],
 'OLIG2': ['Q13516'],
 'OLIG3': ['Q7RTU3'],
 'ONECUT1': ['Q9UBC0'],
 'ONECUT2': ['O95948'],
 'ONECUT3': ['O60422'],
 'OSR2': ['Q8N2R0'],
 'OTX1': ['P32242'],
 'OTX2': ['P32243'],
 'OVOL1': ['O14753'],
 'OVOL2': ['Q9BRP0'],
 'PAX1': ['P15863'],
 'PAX2': ['Q02962'],
 'PAX5': ['Q02548'],
 'PAX6': ['P26367'],
 'PAX7': ['P23759'],
 'PAX8': ['Q06710'],
 'PAX9': ['P55771'],
 'PBX1': ['P40424'],
 'PBX2': ['P40425'],
 'PDX1': ['P52945'],
 'PHOX2A': ['O14813'],
 'PHOX2B': ['Q99453'],
 'PITX1': ['P78337'],
 'PITX2': ['Q99697'],
 'PITX3': ['O75364'],
 'PKNOX1': ['P55347'],
 'PKNOX2': ['Q96KN3'],
 'POU1F1': ['P28069'],
 'POU2F2': ['P09086'],
 'POU2F3': ['Q9UKI9'],
 'POU3F2': ['P20265'],
 'POU3F4': ['P49335'],
 'POU4F1': ['Q01851'],
 'POU4F2': ['Q12837'],
 'POU4F3': ['Q15319'],
 'POU5F1': ['Q01860'],
 'POU6F1': ['Q14863'],
 'PPARD': ['Q03181'],
 'PPARG': ['P37231'],
 'PRDM1': ['O75626'],
 'PROP1': ['O75360'],
 'PROX1': ['Q92786'],
 'PROX2': ['Q3B8N5'],
 'PRRX2': ['Q99811'],
 'RARA': ['P10276'],
 'RARB': ['P10826'],
 'RARG': ['P13631'],
 'RAX': ['Q9Y2V3'],
 'RBPJ': ['Q06330'],
 'RFX1': ['P22670'],
 'RFX2': ['P48378'],
 'RFX3': ['P48380'],
 'RFX4': ['Q33E94'],
 'RFX5': ['P48382'],
 'RFX6': ['Q8HWS3'],
 'RFXDC2': ['Q2KHR2'],
 'RHOXF1': ['Q8NHV9'],
 'RHOXF2': ['Q9BQY4'],
 'RORA': ['P35398'],
 'RORB': ['Q92753'],
 'RUNX3': ['Q13761'],
 'RXRA': ['P19793'],
 'RXRB': ['P28702'],
 'RXRG': ['P48443'],
 'SCRT1': ['Q9BWW7'],
 'SCRT2': ['Q9NQ03'],
 'SHOX': ['O15266'],
 'SIM1': ['P81133'],
 'SIX1': ['Q15475'],
 'SIX2': ['Q9NPC8'],
 'SIX4': ['Q9UIU6'],
 'SIX6': ['O95475'],
 'SKOR2': ['Q2VWA4'],
 'SMAD5': ['Q99717'],
 'SNAI1': ['O95863'],
 'SNAI2': ['O43623'],
 'SNAI3': ['Q3KNW1'],
 'SOHLH2': ['Q9NX45'],
 'SOX10': ['P56693'],
 'SOX11': ['P35716'],
 'SOX12': ['O15370'],
 'SOX14': ['O95416'],
 'SOX15': ['O60248'],
 'SOX18': ['P35713'],
 'SOX2': ['P48431'],
 'SOX3': ['P41225'],
 'SOX30': ['O94993'],
 'SOX4': ['Q06945'],
 'SOX7': ['Q9BT81'],
 'SOX8': ['P57073'],
 'SOX9': ['P48436'],
 'SP3': ['Q02447'],
 'SP8': ['Q8IXZ3'],
 'SP9': ['P0CG40'],
 'SPDEF': ['O95238'],
 'SPIB': ['Q01892'],
 'SREBF1': ['P36956'],
 'SREBF2': ['Q12772'],
 'SRF': ['P11831'],
 'T': ['O15178'],
 'TBX2': ['Q13207'],
 'TBX20': ['Q9UMR3'],
 'TBX21': ['Q9UL17'],
 'TBX3': ['O15119'],
 'TBX4': ['P57082'],
 'TCF12': ['Q99081'],
 'TCF15': ['Q12870'],
 'TCF21': ['O43680'],
 'TCF23': ['Q7RTU1'],
 'TCF4': ['P15884'],
 'TCF7': ['P36402'],
 'TCF7L2': ['Q9NQB0'],
 'TEAD1': ['P28347'],
 'TEAD2': ['Q15562'],
 'TFAP2A': ['P05549'],
 'TFAP2B': ['Q92481'],
 'TFAP2C': ['Q92754'],
 'TFAP2E': ['Q6VUC0'],
 'TFAP4': ['Q01664'],
 'TFCP2': ['Q12800'],
 'TFCP2L1': ['Q9NZI6'],
 'TFE3': ['P19532'],
 'TFEB': ['P19484'],
 'TFEC': ['O14948'],
 'TGIF2': ['Q9GZN2'],
 'TGIF2LX': ['Q8IUE1'],
 'TGIF2LY': ['Q8IUE0'],
 'THRB': ['P00734'],
 'TLX2': ['O43763'],
 'TLX3': ['O43711'],
 'TP73L': ['Q9H3D4'],
 'UBP1': ['O94782'],
 'USF1': ['P22415'],
 'USF2': ['Q15853'],
 'VAX1': ['Q5SQQ9'],
 'VAX2': ['Q9UIW0'],
 'VENTX': ['O95231'],
 'VSX1': ['Q9NZR4'],
 'VSX2': ['P58304'],
 'XBP1': ['P17861'],
 'XPA': ['P23025'],
 'YBX1': ['P67809'],
 'YY1': ['P25490'],
 'YY2': ['O15391'],
 'ZBTB12': ['Q9Y330'],
 'ZBTB2': ['Q8N680'],
 'ZBTB20': ['Q9HC78'],
 'ZBTB26': ['Q9HCK0'],
 'ZBTB33': ['Q86T24'],
 'ZBTB34': ['Q8NCN2'],
 'ZBTB37': ['Q5TC79'],
 'ZBTB43': ['O43298'],
 'ZBTB46': ['Q86UZ6'],
 'ZBTB7A': ['O95365'],
 'ZBTB7B': ['O15156'],
 'ZFP41': ['Q8N8Y5'],
 'ZFP42': ['Q96MM3'],
 'ZGLP1': ['P0C6A0'],
 'ZIC1': ['Q15915'],
 'ZIC3': ['O60481'],
 'ZIC4': ['Q8N9L1'],
 'ZNF138': ['P52744'],
 'ZNF140': ['P52738'],
 'ZNF143': ['P52747'],
 'ZNF174': ['Q15697'],
 'ZNF193': ['O15535'],
 'ZNF238': ['Q99592'],
 'ZNF282': ['Q9UDV7'],
 'ZNF32': ['P17041'],
 'ZNF323': ['Q96LW9'],
 'ZNF390': ['Q3MJ62'],
 'ZNF396': ['Q96N95'],
 'ZNF410': ['Q86VK4'],
 'ZNF435': ['Q9H4T2'],
 'ZNF436': ['Q9C0F3'],
 'ZNF444': ['Q8N0Y2'],
 'ZNF501': ['Q96CX3'],
 'ZNF524': ['Q96C55'],
 'ZNF580': ['Q9UK33'],
 'ZNF581': ['Q9P0T4'],
 'ZNF597': ['Q96LX8'],
 'ZNF660': ['Q6AZW8'],
 'ZNF684': ['Q5T5D7'],
 'ZNF690': ['Q8IWY8'],
 'ZNF704': ['Q6ZNC4'],
 'ZNF713': ['Q8N859'],
 'ZNF740': ['Q8NDX6'],
 'ZNF75A': ['Q96N20'],
 'ZNF77': ['Q15935'],
 'ZNF771': ['Q7L3S4'],
 'ZNF784': ['Q8NCA9'],
 'ZNF787': ['Q6DD87'],
 'ZNF821': ['O75541'],
 'ZSCAN1': ['Q8NBB4'],
 'ZSCAN16': ['Q9H4T2'],
 'ZSCAN4': ['Q8NAM6']}

## dump the TF mappings to a pkl file

In [31]:
import pickle

In [32]:
output = open('GVATdb_TF_mapping.pkl','wb')

In [33]:
pickle.dump(TF_mapping_all,output)

In [34]:
output.close()

# Merge original data table with the variant coordinates in hg38 after liftover

In [ ]:
# liftover tool downloaded from: http://hgdownload.cse.ucsc.edu/admin/exe/
# useful article about using liftover: https://genviz.org/module-01-intro/0001/06/02/liftoverTools/
# running command:
# liftover GVATdb_hg19.bed hg19ToHg38.over.chain.gz GVATdb_hg38.bed unmapped

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('GVATdb.csv')

In [38]:
df.head()

,TF,experiment,oligo,oligo_auc,oligo_pval,ref,alt,ref_auc,alt_auc,pbs,pval,fdr,rsid
0,ALX1,FL.6.0.G12,chr10:114386719-114386759,3.02599,0.00133,C,T,1.44024,-1.28154,2.72179,0.31704,1.0,rs76124550
1,ALX1,FL.6.0.G12,chr10:114386749-114386789,3.67250,0.00049,T,C,-1.62935,0.59975,-2.22910,0.40390,1.0,rs115699571
2,ALX1,FL.6.0.G12,chr10:114393556-114393596,1.06835,0.04213,T,G,2.04137,-2.32915,4.37052,0.12897,1.0,rs703332
3,ALX1,FL.6.0.G12,chr10:114619126-114619166,6.30886,0.00002,G,A,1.08776,-0.37869,1.46646,0.57072,1.0,rs74156858
4,ALX1,FL.6.0.G12,chr10:114693095-114693135,1.44146,0.02158,A,T,0.79777,-0.61519,1.41297,0.58432,1.0,rs116045311

In [39]:
df_2 = pd.read_csv('GVATdb_uniq_hg38.bed', delimiter='\t', header = None)

In [40]:
df_2.head()

      0         1         2           3  4  5
0  chr1  49979657  49979658   rs4582846  C  T
1  chr1  49991164  49991165  rs11576945  C  T
2  chr1  50025842  50025843  rs78845435  G  A
3  chr1  50048880  50048881   rs4489606  T  C
4  chr1  50050054  50050055   rs4636518  A  G

In [41]:
df_2.columns = ['chr','start','end','rsid','ref','alt']

In [42]:
df_2.head()

    chr     start       end        rsid ref alt
0  chr1  49979657  49979658   rs4582846   C   T
1  chr1  49991164  49991165  rs11576945   C   T
2  chr1  50025842  50025843  rs78845435   G   A
3  chr1  50048880  50048881   rs4489606   T   C
4  chr1  50050054  50050055   rs4636518   A   G

In [43]:
df_merged = df_2.merge(df)

In [44]:
df_merged.shape

(2319536, 16)

In [46]:
df_merged_uniq = df_merged.drop_duplicates()

In [48]:
df_merged_uniq.shape

(1611653, 16)

In [49]:
df_merged_uniq.head()

,chr,start,end,rsid,ref,alt,TF,experiment,oligo,oligo_auc,oligo_pval,ref_auc,alt_auc,pbs,pval,fdr
0,chr1,49979657,49979658,rs4582846,C,T,DMRTC2,FL.7.1.A7,chr1:50445310-50445350,2.80064,0.03285,0.33993,0.58504,-0.24511,0.88535,0.98584
1,chr1,49979657,49979658,rs4582846,C,T,FOXA2,DBD.8.0.B10,chr1:50445310-50445350,1.55439,0.03224,-0.46211,-0.08603,-0.37608,0.89092,0.99856
2,chr1,49979657,49979658,rs4582846,C,T,HOXA13,FL.5.1.F3,chr1:50445310-50445350,1.80979,0.02799,-2.38964,-0.00280,-2.38684,0.43601,0.99686
3,chr1,49979657,49979658,rs4582846,C,T,MAF,FL.5.1.C3,chr1:50445310-50445350,3.54352,0.00102,0.50441,-0.04574,0.55015,0.85728,0.99998
4,chr1,49979657,49979658,rs4582846,C,T,MAFG,DBD.1.1.H6,chr1:50445310-50445350,2.16224,0.00679,0.23015,0.55587,-0.32572,0.82207,0.97275

In [50]:
df_merged_uniq.to_csv('GVATdb_hg38.csv', index=False)

## novel batch csv file has a different format:

In [66]:
df = pd.read_csv('GVATdb.novel_batch.csv')

In [67]:
df.head()

     TF                 snp  oligo_auc  oligo_pval        pbs      pval
0  ALX1   chr4_39045445_G_C   2.326288    1.000000  -2.505769  0.206843
1  ALX1   chr6_55207482_C_T   5.183158    0.516162  -1.226794  0.502566
2  ALX1  chr12_64238141_G_A   3.457080    0.990648 -14.455958  0.000004
3  ALX1  chr13_24789809_G_A   6.097787    0.112729   1.295581  0.342345
4  ALX1  chr4_140856533_A_G   4.003036    0.936092   0.685027  0.702173

In [68]:
df_2 = pd.read_csv('GVATdb.novel_batch.hg38_uniq.bed', delimiter='\t', header = None)

In [69]:
df_2.head()

      0       1       2                3  4  5
0  chr1  940255  940256  chr1_875636_C_T  C  T
1  chr1  940386  940387  chr1_875767_T_G  T  G
2  chr1  940389  940390  chr1_875770_A_G  A  G
3  chr1  940686  940687  chr1_876067_C_T  C  T
4  chr1  941568  941569  chr1_876949_G_C  G  C

In [70]:
df_2.columns = ['chr','start','end','snp','ref','alt']

In [71]:
df_2.head()

    chr   start     end              snp ref alt
0  chr1  940255  940256  chr1_875636_C_T   C   T
1  chr1  940386  940387  chr1_875767_T_G   T   G
2  chr1  940389  940390  chr1_875770_A_G   A   G
3  chr1  940686  940687  chr1_876067_C_T   C   T
4  chr1  941568  941569  chr1_876949_G_C   G   C

In [72]:
df_merged = df_2.merge(df)

In [73]:
df_merged.shape

(1055754, 11)

In [81]:
df_merged_uniq = df_merged.drop_duplicates()

In [82]:
df_merged_uniq.shape

(1047948, 11)

In [83]:
df_merged_uniq.head()

,chr,start,end,snp,ref,alt,TF,oligo_auc,oligo_pval,pbs,pval
0,chr1,940255,940256,chr1_875636_C_T,C,T,ASCL1,4.214390,3.439986e-04,1.042135,0.632781
1,chr1,940255,940256,chr1_875636_C_T,C,T,ASCL2,4.695903,1.998710e-02,0.757761,0.744490
2,chr1,940255,940256,chr1_875636_C_T,C,T,BATF3,4.389340,7.392653e-11,1.084362,0.234332
3,chr1,940255,940256,chr1_875636_C_T,C,T,CTCF,4.193749,6.496774e-02,0.610962,0.668365
4,chr1,940255,940256,chr1_875636_C_T,C,T,DBX2,2.182605,8.877244e-01,-3.620441,0.052360

In [84]:
df_merged_uniq.insert(7,'experiment','novel_batch')

In [85]:
df_merged_uniq.head()

,chr,start,end,snp,ref,alt,TF,experiment,oligo_auc,oligo_pval,pbs,pval
0,chr1,940255,940256,chr1_875636_C_T,C,T,ASCL1,novel_batch,4.214390,3.439986e-04,1.042135,0.632781
1,chr1,940255,940256,chr1_875636_C_T,C,T,ASCL2,novel_batch,4.695903,1.998710e-02,0.757761,0.744490
2,chr1,940255,940256,chr1_875636_C_T,C,T,BATF3,novel_batch,4.389340,7.392653e-11,1.084362,0.234332
3,chr1,940255,940256,chr1_875636_C_T,C,T,CTCF,novel_batch,4.193749,6.496774e-02,0.610962,0.668365
4,chr1,940255,940256,chr1_875636_C_T,C,T,DBX2,novel_batch,2.182605,8.877244e-01,-3.620441,0.052360

In [86]:
df_merged_uniq.to_csv('GVATdb_hg38.novel_batch.csv', index=False)